*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

blockquote {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #152347;
    color: #99a1b3;
    font-size: 14px;
}

.refresh {
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

.refresh i {
    font-size: 20px;
}

.refresh i:hover {
    color: #fff922;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
}

blockquote {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #92eaff;
}

blockquote::before {
    font-size: 35px;
    content: "\201C";
    position: relative;
    left: -.5%;

}

blockquote::after {
    font-size: 35px;
    content: "\201D";
    position: relative;
    left: .5%;

}

.name {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #fff922;

}



.s-twitter {
    text-align: center;
    margin-top: 3rem;
}

.s-twitter a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.s-twitter i {
    color: #92eaff;
    font-size: 30px;
}

.s-twitter i:hover {
    color: #a31ec8;
    font-size: 30px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: 12px;
}

footer a {
    color: #99a1b3;
    text-decoration: underline;
}

footer a:hover {
    color: #fff922;
    text-decoration: underline;
}


@media (max-width: 480px) {

    blockquote {
        font-size: 1rem;
    }

    blockquote::before {
        font-size: 20px;
        content: "\201C";
        position: relative;
        left: -.5%;

    }

    blockquote::after {
        font-size: 20px;
        content: "\201D";
        position: relative;
        left: .5%;

    }

    .name {
        font-size: 1rem;
    }

    .s-twitter i {
        font-size: 20px;
    }

}